body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin-left: 20px;
}

h2 {
    text-align: center;
}

form {
    width: 500px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}